.feature {

  &__intro {
    margin-bottom: 3.75rem;
    
    @include breakPointUp (large) {
      width: 60%;
    }
  }

  &__grid {

    @include breakPointUp(medium){
      display: flex;
      flex-wrap: wrap;
    }
  }

  &__item {
    padding:.9375rem;
    border:1px solid magenta;

    @include breakPointUp(medium) {
      flex: 0 0 50%;
    }

    @include breakPointUp(large) {
      flex: 1;
    }

  }

  &__icon {

  }

  &__title {

  }

  &__description {

  }

}