.footer {
  background-color: $darkBlue;
  color: $white;
  padding: 2.5rem;
  text-align: center;

  a {
    color: $white;
  }

  &__logo {
    display: inline-block;
    margin-bottom: 1.875rem;
  }

  &__social {
    margin-bottom: 1.875rem;

    a {
      color: $white;
      display: inline-block;
    }
    a:not(:last-child) {
      margin-right: 1rem;
    }
  }

  &__links {
    display: flex;
    flex-direction: column;
    align-items: center;
    line-height: 2rem;

    &.col1 {


    }

    &.col2 {
      margin-bottom: 1.875rem;

    }
  }

  &__cta {

    a.button {
      margin-bottom: 1.875rem;
    }
  }

  &__copyright {

  }
}