.footer {
  background-color: $darkBlue;
  color: $white;
  padding: 2.5rem;
  text-align: center;

  @include breakPointUp(large){
    display: grid;
    grid-template-columns: repeat(3, 1fr) 2fr;
    grid-template-rows: repeat(2, 1fr);
    grid-template-areas: 
    "logo links1 links2 cta"
    "social links1 links2 copyright";
    justify-items: start;
  }

  a {
    color: $white;
  }

  &__logo {
    display: inline-block;

    @include breakPointDown(medium){
      margin-bottom: 1.875rem;
    }
    @include breakPointUp(large){
      grid-area: logo;
    }
  }

  &__social {
    align-self: end;

    @include breakPointDown(medium){
      margin-bottom: 1.875rem;
    }
    @include breakPointUp(large){
      grid-area: social;
    }

    a {
      color: $white;
      display: inline-block;
    }
    a:not(:last-child) {
      margin-right: 1rem;
    }
  }

  &__links {
    display: flex;
    flex-direction: column;
    align-items: center;
    line-height: 2rem;
    font-size: .9375rem;

    @include breakPointUp(large){
      align-items: start;
    }

    &.col1 {

      @include breakPointUp(large){
        grid-area: links1;
      }
    }

    &.col2 {

    @include breakPointDown(medium){
      margin-bottom: 1.875rem;
    }
      @include breakPointUp(large){
      grid-area: links2;
    }

    }
  }

  &__cta {

    @include breakPointUp(large){
      text-align: right;
      justify-self: end;
    }

    a.button {
      @include breakPointDown(medium){
        margin-bottom: 1.875rem;
      }
    }
  }

  &__copyright {

    @include breakPointUp(large){
      grid-area: copyright;
      align-self: end;
      justify-self: end;
      font-size: .9375rem;
    }
  }
}