.header {
  

  nav {
    padding: 24px;
  }

  //&__logo {

   // img {

  //  }
 // }


  &__menu { //mobile  menu

    > span {
      display: block;
      width: 26px;
      height: 2px;
      background-color: $darkBlue;

      &:not(:last-child){
        margin-bottom: 3px;
      }
    }
  }

  &__links {

    a {
      font-size: $fontSmall !important;
      color: $grayishBlue !important;
    }

  }

  &__cta {
    font-size: $fontSmall;
    color: $white;
  }
}




